.btn-pink {
    background-color: #ff0060;
    color: #fff;
    font-weight: bold;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink.focus {
    background-color: #eb005b;
    color: #fff;
    font-weight: bold;
}

.btn-outline {
    background-color: #fff;
    color: #636f73;
    font-weight: bold;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline.focus {
    background-color: #636f73;
    color: #fff;
    font-weight: bold;
}
